
// Bootstrap body padding for fixed navbar

body {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #082634;
	background: #F6F6F6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "futura-pt",Futura,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-align: center;
}




