label{
	display: inline;
	cursor: auto;
}

#section-1{
	padding-top: 60px;
}

section {
	margin: 0 50px;
}

hr{
	width: 2000px;
	height: 5px;
	color: white;
	background-color: white;
}

.text-title{
	font-size: 24px;
	text-align: center;
	color: green;
	font-style: bold;
}

.faq{
	margin-bottom: 50px;

	.question{
		font-size: 19px;
		font-weight: bold;
		padding-bottom: 20px;
		font-family: "futura-pt",Futura,"Helvetica Neue",Helvetica,Arial,sans-serif;
		text-transform: uppercase;
	}

	.anwser{
		font-size: 16px;
		line-height: 30px;
		color: #707070;
	}
}

.panel {
	border-radius: 10px;
	border: 1px solid #e5e5e5;
	margin-bottom: 1.25em;
	padding: 1.25em;
	background: white;
	text-align: center;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-box-shadow: 0px 2px 5px #ccc;
	-webkit-box-shadow: 0px 2px 5px #ccc;
	-o-box-shadow: 0px 2px 5px #ccc;
	box-shadow: 0px 2px 5px #ccc;

	.panel-header{
		border-bottom: 1px solid #959595;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.price{
	font-size: 26px;
	color: green;
	text-align: center;
	padding-bottom:20px;
}