#team {
	padding-top: 50px;

	h2{
		font-family: AachenSBOP-Medium;
		font-size: 30px;
		line-height: 50px;
		text-align: center;
	}

	h4 {
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		margin: 10px 0;
	}

	img{
		height: 182px;
		width: 182px;
		display: block;
    margin-left: auto;
    margin-right: auto;
	}

	p{
		text-align: center;
	}
}