<p>
	Dear <%= "#{@registration.firstname} #{@registration.lastname}"%>,
</p>
<p>
	Thanks for registering <%= @registration.programe %>, 
	this is your registration id <%= @registration.id %>.
</p>
<p>
  We will get back to you as soon as possible.
</p>

<p>
  Best Regards,
</p>
<p>
  Chopstickly Team
</p>