<table>
	<th>
		<td>Id</td>
		<td>First Name</td>
		<td>Last Name</td>
	</th>

	<% @registrations.each do |r| %>
	  <tr>
	  	<td><%= link r.id, "/registrations/#{r.id}" %></td>
	  	<td><%= r.firstname %></td>
	  	<td><%= r.lastname %></td>
		</tr>

	<% end %>
</table>
