<h2><%= @registration.programe %> Registration</h2>

<%= form('/registrations', :post) %>
	<% fieldset(:registration) do |f| %>
	  <%= f.hidden(:programe, :value => @registration.programe) %>

		<%= f.label('First Name:') %>
	  <%= f.input(:firstname) %>

	  <%= f.label('Last Name:') %>
	  <%= f.input(:lastname) %>

	  <%= f.label('Email:') %>
	  <%= f.input(:email, :size => 40) %>

	  <%= f.label('Gender:') %>
	  <%= f.radio(:gender, ['M', 'F']) %>
	<% end %>
<%= submit %>

