<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= "Chopstickly" %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link href="/stylesheets/bootstrap.min.css" rel='stylesheet'> 
    <link href="/stylesheets/bootstrap-responsive.min.css" rel='stylesheet'> 
    <link href="/stylesheets/main.css" rel='stylesheet'> 
    <link href="/stylesheets/main.team.css" rel='stylesheet'> 
    <link href="/stylesheets/custom.css" rel='stylesheet'> 

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <!-- Google + -->
    <link rel="canonical" href="http://www.chopstick.ly" />
  </head>
  
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= erb :_navigation %>
        </div>
      </nav>
    </header>

	  <%= yield %>
		<footer class="footer"></footer>       
  </body>
</html>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39730048-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>