<section id="section-2">
	<h2>Chinese Buddy Programme</h2>
	Do you want to learn Chinese as well as know more Chinese culture in a living way?
	Do you want to improve your communication skills with native Chinese?
	Do you want to expend your network with highly skilled Chinese?

	A Unique Chance to meet with Chinese talent in Copenhagen.

	Aim to match Chinese native speaker from a high educational background and a wide different industry with work experience for a Chinese language studier with good Danish or English skills. 

	Benefits: Network with talent and highly skill Chinese 
	        A potential chance to expand your business network 
	        Learning Chinese on your own pace
	        Intercultural communication experience 

	<%= erb :'home/_section_2_fees' %>

  <div class="accordion">
    <div class="accordion-heading text-title">
      <span class="accordion-toggle" data-toggle="collapse" href="#faq1" title="Expand to see more...">
        FREQUENTLY ASKED QUESTIONS
        <div><img src="images/arrow.png"/></div>
      </span>
    </div>
    <div id="faq1" class="accordion-body collapse ">
      <div class="accordion-inner">
        <%= erb :'home/_section_2_faq' %>
      </div>
    </div>
  </div>

</section>