<section>
  <div id="team" class="row-fluid">
    <h2>TEAM</h2>
	
		<div class="offset1 span3">
	    <img src="images/jingjing.jpg"/>
			<h4>Jingjing Duan</h4>
	    <p>Chief Business Developer</p>
		</div>

		<div class="span3">
	    <img src="images/hao.jpg"/>
			<h4>Hao Deng</h4>
	    <p>Technical Chief</p>
		</div>

		<div class="span3">
	    <img src="images/in.png"/>
			<h4>Wei Chen</h4>
	    <p>Local Facilitator</p>
	  </div>  
	</div>

</section>