<div class="text-title">FEES</div>
<h4>
	Including a <b>one-to-one</b> Chinese class with our dedicated teacher
</h4>

<div class="row-fluid">
	<div class="span3 offset2 panel">
		<h4 class="panel-header">STUDENT</h4>
		<h5>(PHD excluded)</h5>
		<div class="price">299DKK</div>
		<a class="btn btn-success">Book a session</a>
	</div>

	<div class="span3 offset2 panel">
		<h4 class="panel-header">OTHERS</h4>
		<div class="price">399DKK</div>
		<a class="btn btn-success">Book a session</a>
	</div>
	
</div>

