<div class="row-fluid">
	<div class="span5">
		<div class="faq">
			<div class="question">
				What a Chinese buddy can help?
			</div>
			<div class="anwser">
			  To practice your Chinese communication skills<br>
			  To correct your Chinese characters, pronunciation and tone<br>
			  To help you translations<br>
			  To help you prepare you Chinese language exam if you have one.<br>
			  To share their own experiences from Asia perspective<br>
			  Clarification and inspiration in relation to career and education in China<br>
			  Inspiration for how to use and expand your network in China<br>
			  To tell about how a Chinese workplace works and unwritten rules in business negotiation<br>
			  To help you better understand Chinese culture<br>
			</div>
		</div>

		<div class="faq">
			<div class="question">
				Who are the Chinese buddies?
			</div>
			<div class="anwser">
				Our people are all Chinese native speakers, who currently study in University as Master students or PhD, or have many years work experience in international company in different industry, or as a highly skilled accompany spouse in Demark.
			</div>
		</div>			
	</div>
	
	<div class="span5 offset2">		
		<div class="faq">
			<div class="question">
				How to find a suitable Chinese buddy for me? Who will be my I Chinese buddy?
			</div>
			<div class="anwser">
				We match mainly base on individual age, background and language level, but also cater for your specific needs (e.g. prepare for Chinese language test) taking into account the Chinese buddy’s particular strengths.
			</div>
		</div>	

		<div class="faq">
			<div class="question">
				How many times will I spend?
			</div>
			<div class="anwser">
				You are welcome to contact your Chinese buddy on your own flexible schedule. But we suggest you meet each other once a week otherwise you are easy to forget  your language skills.
			</div>
		</div>

		<div class="faq">
			<div class="question">
				I don’t satisfy with my Chinese buddy, can I get the registration fee back?
			</div>
			<div class="anwser">
			  The registration is not refund but you can have one chance to rematch a buddy before midterm.
			</div>
		</div>

	</div>
	

</div>